body {
    background-color: blue;
    display: flex;               /* Use Flexbox */
    justify-content: center;     /* Center horizontally */
    align-items: center;         /* Center vertically */
    height: 100vh;              /* Full height of the viewport */
    margin: 0;                  /* Remove default margin */
    
}

h1 {
    color: azure;
    justify-self: center;
    align-self: center;
    
}